<a href="https://colab.research.google.com/github/VineetSivadasan/houses/blob/main/Copy_of_houses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import multivariate_normal as mvn
import seaborn as sns


houses = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/raw_house_data.csv')
houses.head()

# can already see cells with 'None' values

In [ ]:
houses.shape #determine the number of rows and columns of the dataset

In [ ]:
houses.dtypes   #determine what types of data are in the cells

# bathrooms, sqrt_ft, garage, kitchen_features, fireplaces, floor_Covering, HOA contain character variables
# MLS, zipcode, year_built, bedrooms are all integer numeric variables
# sold_price, longitude, latitude, lot_acres, taxes are floating point numeric variables

In [169]:
houses.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True) #drop rows containing empty values in any column

In [ ]:
houses.shape

In [ ]:
houses.dtypes

In [172]:
houses_cleaned = houses.mask(houses.eq('None')).dropna() #mask function to remove the word 'None' in all cells in any column

In [ ]:
houses_cleaned.shape

In [174]:
compression_opts = dict(method='zip',
                        archive_name='out.csv') 
houses_cleaned.to_csv('out.zip', index=False, compression=compression_opts) #export cleaned dataset as csv

In [ ]:
houses_cleaned.head()

In [176]:
houses_cleaned = houses_cleaned.astype({"bathrooms":float}) #turn 'bathrooms' from object to float

In [177]:
houses_cleaned = houses_cleaned.astype({"sqrt_ft":float}) #turn 'sqrt_ft' from object to float

In [178]:
houses_cleaned = houses_cleaned.astype({"garage":float}) #turn 'garage' from object to float

In [179]:
houses_cleaned = houses_cleaned.astype({"fireplaces":float}) #turn 'fireplaces' from object to float

In [180]:
houses_cleaned["HOA"] = houses_cleaned["HOA"].str.replace(",","").astype(float) #remove the comma's from numbers in HOA column

In [ ]:
houses_cleaned.dtypes #confirm datatypes for bathrooms, sqrt_ft, garage, firplaces and HOA have been converted into float variables

In [ ]:
sns.pairplot(houses_cleaned, kind="scatter") #plot values for each of the 14 column numerical variables against eachother

In [183]:
houses_cleaned.shape

(4370, 16)

In [ ]:
ax = sns.relplot(x='bedrooms', y='sold_price', data=houses_cleaned)
ax.set(xlabel='no. of bedrooms', ylabel='sold price (x1,000,000)')
plt.show()

In [ ]:
ax = sns.relplot(x='bathrooms', y='sold_price', data=houses_cleaned)
ax.set(xlabel='no. of bathrooms', ylabel='sold price (x1,000,000)')
plt.show()

In [ ]:
ax=sns.relplot(data=houses_cleaned, x='sqrt_ft', y='sold_price')
ax.set(xlabel='square foot area', ylabel ='sold price (x1,000,000)')
plt.show()

In [ ]:
ax=sns.relplot(data=houses_cleaned, x='zipcode', y='sold_price')
ax.set(xlabel='zipcode', ylabel ='sold price (x1,000,000)')
plt.show()

In [ ]:
ax=sns.relplot(data=houses_cleaned, x='lot_acres', y='sold_price')
ax.set(xlabel='lot_acres', ylabel ='sold price (x1,000,000)')
plt.show()

In [ ]:
ax=sns.relplot(data=houses_cleaned, x='bathrooms', y='sqrt_ft')
ax.set(xlabel='no of bathrooms', ylabel ='sqrt_ft')
plt.show()